h3 {
  padding-bottom: 5px;
}

.btn {
  font-size: 15px;
  padding: 10px 25px;
}

#navbar .logo {
  float: none;
  text-align: center;
}

#navbar ul {
  float: none;
}

#navbar ul li {
  width: 100%;
}

#navbar ul li a {
  display: block;
  padding: 5px;
  text-align: center;
}

#showcase .showcase-content h1 {
  font-size: 45px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  font-size: 16px;
}

#showcase {
  height: 420px;
}

#showcase .showcase-content {
  padding-top: 100px;
}

#home-info .info-img {
  display: none;
}

#home-info .info-content {
  float: none;
  width: 100%;
}

.box {
  float: none;
  width: 100%;
  padding: 25px;
}
